.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgb(2, 18, 13, 0.5);
  box-sizing: border-box;
  padding: 25px 0;
}

.header-container {
  display: flex;
}

.navbar {
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none; /* Убирает маркеры у всех элементов списка */
}

.navbar a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.bar {
  width: 15px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
}

.logo a {
  color: black;
  font-weight: bold;
}
